---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
---

<Layout title="Joaquin's Porfolio">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5">
			Hey, soy Joaquin
			<a 
			href="https://www.linkedin.com/in/joaquin-aimonetti-80b871200/" 
			target="_blank"
			rel="noopener"
			class="flex jusify-center items-center"
			><Badge>Listo para trabajar</Badge></div>
			</a>
		</h1>
				<h2 class="text-xl opacity-80 text-wrap">
			<span class=>Programando desde 2019.</span> <span class="text-green-200"> Desarrollador de Cordoba Argentina</span> 
		</h2>
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/joaquin-aimonetti-80b871200/">
					<LinkedInIcon class="w-6 h-6 opacity-80"/></a>

			</li>
		</ul>
	</section>
	</main>
</Layout>

